[submodule "npl_packages/main"]
	path = npl_packages/main
	url = git@github.com:NPLPackages/main.git
[submodule "lib/luagit2/src/luagit2"]
	path = lib/luagit2/src/luagit2
	url = git@github.com:libgit2/luagit2.git
[submodule "lib/luagit2/src/LuaNativeObjects"]
	path = lib/luagit2/src/LuaNativeObjects
	url = git@github.com:Neopallium/LuaNativeObjects.git
[submodule "lib/luagit2/src/libgit2"]
	path = lib/luagit2/src/libgit2
	url = git@github.com:libgit2/libgit2.git
